@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 43% 94%;
    --foreground: 231 48% 15%;
    --card: 234 43% 99%;
    --card-foreground: 231 48% 15%;
    --popover: 234 43% 99%;
    --popover-foreground: 231 48% 15%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 20% 90%;
    --secondary-foreground: 231 48% 15%;
    --muted: 231 20% 90%;
    --muted-foreground: 231 48% 35%;
    --accent: 262 34% 55%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 85%;
    --input: 231 20% 88%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 262 34% 55%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 233 33% 21%;
    --sidebar-foreground: 234 43% 94%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 231 48% 48%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 233 33% 28%;
    --sidebar-ring: 262 34% 55%;
  }

  .dark {
    --background: 233 33% 15%;
    --foreground: 234 43% 94%;
    --card: 233 33% 21%;
    --card-foreground: 234 43% 94%;
    --popover: 233 33% 15%;
    --popover-foreground: 234 43% 94%;
    --primary: 234 43% 94%;
    --primary-foreground: 231 48% 15%;
    --secondary: 233 33% 25%;
    --secondary-foreground: 234 43% 94%;
    --muted: 233 33% 25%;
    --muted-foreground: 231 48% 75%;
    --accent: 262 34% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 33% 28%;
    --input: 233 33% 28%;
    --ring: 262 34% 65%;
    --chart-1: 234 43% 94%;
    --chart-2: 262 34% 65%;
    --sidebar-background: 233 33% 15%;
    --sidebar-foreground: 234 43% 94%;
    --sidebar-primary: 234 43% 94%;
    --sidebar-primary-foreground: 231 48% 15%;
    --sidebar-accent: 234 43% 94%;
    --sidebar-accent-foreground: 231 48% 15%;
    --sidebar-border: 233 33% 28%;
    --sidebar-ring: 262 34% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
